.Borderadius {
    border-radius: 25px;
}
.boja1 {
    color: rgba(13, 110, 253, 1);
}
.fontz {
    font-Size:25px;
}
.boja2 {
    color: rgba(128, 128, 128, 1);
}
.Endless {
    margin-top:700px;
    margin-left:-24.3%;
}
.Crafted {
    margin-top:450px;
    margin-left:-24.3%;
}
.div1 {
 width: 99.5%;
  border-radius: 0 15px 15px 0;
  
}
.lin1 {
    width: 98%;
    height: 1px;
    background: gainsboro;
}
.button {
    background-color: #5D9CEC;
    border-radius: 7px;
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }