.div1 {
    height: 110px;
    width: 98.5%;
  border-radius: 25px;
  background-color: white;
}
.boja1 {
    color: rgba(13, 110, 253, 1);
}
.fontz {
    font-Size:25px;
}
.mabo {
    margin-bottom: 400px;
  color: rgba(128, 128, 128, 1);
}