.Borderadius {
  border-radius: 25px;
}
.boja1 {
  color: rgba(13, 110, 253, 1);
}
.fontz {
  font-Size:25px;
}
.boja2 {
  color: rgba(128, 128, 128, 1);
}
.slika1 {
  width: 925px;
border-radius: 25px;
}
.marginl {
  margin-Left:15px;
}
.slika2 {
  width: 925px;
border-radius: 25px;
}
.Flex {
  display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: stretch;
align-content: stretch;
}