.div1 {
    height: 250px;
    width: 98.5%;
  border-radius: 25px;
  background-color: white;
}
.lin1 {
    width: 100%;
    height: 1px;
    background: gainsboro;
    
}
.txt {
    color:blue;
    font-weight: 50;
    margin-left:400px;
}
