.div1 {
    height: 125px;
    width: 47.5%;
  border-radius: 25px;
  background-color: white;
}
.div2 {
    height: 125px;
    width: 48%;
  border-radius: 25px;
  background-color: white;
}
.text {
    color: rgba(128, 128, 128, 1);
}